.b_ins_subtitle {
    position: absolute;
    height: 87.5%;
    width: 89.07%;
    top: 5%;
    left: 8%;
    letter-spacing: -0.2px;
    display: inline-block;
  }
  .inspect-subtitle {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 40px;
    text-align: left;
    font-size: 25px;
    color: #ff9797;
    font-family: var(--font-poppins);
  }
  