@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.areacheck-btn-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-lightpink-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 138px;
  height: 49px;
}
.areacheck-btn,
.areacheck-text-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  width: 87.04px;
  height: 22.16px;
}
.areacheck-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 820px;
  left: 118px;
  width: 138px;
  height: 49px;
  display: none;
}
.areacheck-btn:hover {
  animation: 2s ease 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.areacheck-btn:active,
.chungbuk-btn:active,
.chungnam-btn:active,
.jeju-btn:active,
.junbuk-btn:active,
.junnam-btn:active,
.kangwon-btn:active,
.kyungbuk-btn:active,
.kyungki-btn:active,
.kyungnam-btn:active,
.seoul-btn:active {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.choice-div {
  position: absolute;
  top: 765px;
  left: 12px;
  border-radius: var(--br-sm);
  /* background-color: var(--color-white); */
  width: 353px;
  /* height: 203px; */
  display: none;
}
.map-icon {
  position: absolute;
  top: 209px;
  left: 0;
  width: 375px;
  height: 513px;
  object-fit: cover;
}
.seoul-btn-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-lightpink-100);
  box-sizing: border-box;
  width: 60px;
  height: 30px;
}
.seoul-btn,
.seoul-text-icon {
  position: absolute;
  top: 6.21px;
  left: 14.96px;
  width: 29.89px;
  height: 18.28px;
}
.seoul-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 331px;
  left: 84px;
  width: 60px;
  height: 30px;
}
.kyungki-btn,
.kyungki-text-icon {
  position: absolute;
  top: 6.57px;
  left: 15.27px;
  width: 28.45px;
  height: 17.66px;
}
.kyungki-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 292px;
  left: 83px;
  width: 60px;
  height: 30px;
}
.chungnam-btn,
.chungnam-text-icon {
  position: absolute;
  top: 5.94px;
  left: 15.27px;
  width: 30.2px;
  height: 18.59px;
}
.chungnam-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 399px;
  left: 66px;
  width: 60px;
  height: 30px;
}
.chungbuk-btn,
.chungbuk-text-icon {
  position: absolute;
  top: 5.94px;
  left: 15.27px;
  width: 29.58px;
  height: 18.63px;
}
.chungbuk-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 383px;
  left: 158px;
  width: 60px;
  height: 30px;
}
.kangwon-btn,
.kangwon-text-icon {
  position: absolute;
  top: 6.29px;
  left: 14.88px;
  width: 29.89px;
  height: 17.93px;
}
.kangwon-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 279px;
  left: 185px;
  width: 60px;
  height: 30px;
}
.kyungbuk-btn,
.kyungbuk-text-icon {
  position: absolute;
  top: 6.61px;
  left: 15.27px;
  width: 29.58px;
  height: 17.97px;
}
.kyungbuk-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 425px;
  left: 222px;
  width: 60px;
  height: 30px;
}
.kyungnam-btn,
.kyungnam-text-icon {
  position: absolute;
  top: 6.88px;
  left: 15.27px;
  width: 30.2px;
  height: 17.66px;
}
.kyungnam-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 533px;
  left: 192px;
  width: 60px;
  height: 30px;
}
.junbuk-btn,
.junbuk-text-icon {
  position: absolute;
  top: 6.61px;
  left: 14.61px;
  width: 30.24px;
  height: 17.97px;
}
.junbuk-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 483px;
  left: 90px;
  width: 60px;
  height: 30px;
}
.junnam-btn,
.junnam-text-icon {
  position: absolute;
  top: 6.88px;
  left: 14.6px;
  width: 30.87px;
  height: 17.66px;
}
.junnam-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 575px;
  left: 60px;
  width: 60px;
  height: 30px;
}
.jeju-btn,
.jeju-text-icon {
  position: absolute;
  top: 6.72px;
  left: 14.76px;
  width: 30.16px;
  height: 16.25px;
}
.jeju-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 682px;
  left: 66px;
  width: 60px;
  height: 30px;
}
.subtitle-text-icon,
.title-text-icon {
  position: absolute;
  top: 157.02px;
  left: 27.27px;
  width: 315.73px;
  height: 14.26px;
}
.title-text-icon {
  top: 100.26px;
  left: 70.27px;
  width: 234.46px;
  height: 25.89px;
}
.policymoneychoice-page {
  /* position: relative; */
  background-color: var(--color-white);
  width: 100%;
  /* height: 950px; */
  overflow: hidden;
  /* resize: vertical; */
}

#region{
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  border-radius: 10px;
  /* border: none; */
  resize: none;
  font-family: "GowunDodum-Regular";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}