@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.one3-div1 {
  position: absolute;
  border-radius: 15px;
}
.policyone3-img-div1 {
  position: absolute;
  border-radius: 10px;
}
.one3-div1 {
  top: -5px;
  left: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 5px solid #efbe62;
  box-sizing: border-box;
  width: 342px;
  height: 547px;
}
.policyone3-img-div1 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 312px;
  height: 517.42px;
}
.one3-1-icon,
.one3-div,
.policyone3-img-div {
  position: absolute;
  width: 312px;
  height: 517.71px;
}
.one3-1-icon {
  top: 0;
  left: 0;
  border-radius: 10px;
  object-fit: cover;
}
.one3-div,
.policyone3-img-div {
  top: 10px;
  left: 10px;
}
.one3-div {
  top: 173px;
  left: 21px;
  width: 332px;
  height: 537px;
}
.policyone3-title-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 0 0 15px;
  background-color: var(--color-sandybrown-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 147px;
  height: 45px;
}
.policyone3-title-icon {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 108.74px;
  height: 16.54px;
}
.one3back-btn-div,
.policyone3-title-div {
  position: absolute;
  top: 92px;
  left: 228px;
  width: 147px;
  height: 45px;
}
.one3back-btn-div {
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-sandybrown-100);
  box-sizing: border-box;
  width: 155px;
}
.one3back-btn,
.one3back-btn-text-icon {
  position: absolute;
  top: 14px;
  left: 24px;
  width: 106.8px;
  height: 17.6px;
}
.one3back-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 92px;
  left: 31px;
  width: 155px;
  height: 45px;
}
.one3back-btn:active {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.policyone3-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
}

.PolicyOne3_images {
  width: 100%;
  height: 100%;
}
